.carousel {
  position: relative;
  display: flex;
}

.carousel .item {
  opacity: 0;
  transition: all 0.3s linear;
  animation: fade 10s ease-out infinite;
}

.carousel .item .sp {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5%, 20% {
    opacity: 1;
  }

  25%, 100% {
    opacity: 0;
  }
}

.carousel .item:not(:first-child) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.carousel .item:nth-child(2) {
  animation-delay: 2s
}

.carousel .item:nth-child(3) {
  animation-delay: 4s
}

.carousel .item:nth-child(4) {
  animation-delay: 6s
}

.carousel .item:nth-child(5) {
  animation-delay: 8s
}

.carousel .item img {
  width: 100%;
}

.carousel .content {
  position: absolute;
  bottom: 70px;
  left: 110px;
  color: #fff;
  font-weight: bold;
}

.carousel .content .h1 {
  margin-top: 18px;
  font-size: 84px;
  line-height: 1;
}

.carousel .content .h2 {
  font-size: 64px;
  line-height: 1;
}

.carousel .content .h3 {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1;
}

.carousel .content .h3.sp {
  display: none;
}

.carousel .content .tag-list {
  margin-top: 30px;
}

.carousel .content .tag {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  letter-spacing: -1px;
}

.carousel .content .tag + .tag {
  margin-left: 25px;
}

.carousel .content .tag .gold {
  color: #fff100;
}

.carousel .price {
  position: absolute;
  right: 110px;
  bottom: 70px;
  width: 254px;
}

@media screen and (max-width: 800px) {
  .carousel .item .sp {
    display: block;
  }

  .carousel .item .pc {
    display: none;
  }

  .carousel .content {
    bottom: 40px;
    left: 20px;
  }

  .carousel .content .h1 {
    font-size: 54px;
  }
  
  .carousel .content .h2 {
    font-size: 40px;
  }
  
  .carousel .content .h3 {
    font-size: 20px;
  }

  .carousel .content .h3.sp {
    display: block;
  }

  .carousel .content .h3.pc {
    display: none;
  }

  .carousel .content .tag {
    height: 30px;
    padding: 0 6px;
    font-size: 14px;
  }

  .carousel .content .tag + .tag {
    margin-left: 12px;
  }

  .carousel .price {
    top: 20px;
    right: 20px;
    width: 132px;
  }
}