.footer {
  padding: 60px 0 10px;
  background-color: #336d4c;
  text-align: center;
}

.footer .logo {
  display: block;
  width: 290px;
  margin: 0 auto;
}

.footer .social-media {
  margin-top: 30px;
}

.footer .social-media img {
  display: inline-block;
  width: 33px;
}

.footer .social-media a + a {
  margin-left: 12px;
}

.footer .text {
  margin-top: 30px;
  font-size: 12px;
  color: #fff;
}

footer.fixed {
  display: none;
  position: fixed;
  z-index: 8;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20vw;
  background-color: #336d4c;
  color: #fff;
}

footer.fixed .girl {
  width: 16vw;
}

footer.fixed .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
  font-size: 3vw;
  letter-spacing: -1px;
}

footer.fixed .phone {
  display: flex;
  align-items: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
}

footer.fixed .info .text {
  font-size: 2vw;
  text-align: center;
}

footer.fixed .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100%;
}

footer.fixed .box .text {
  margin-top: 2vw;
  font-size: 2vw;
  line-height: 1;
  color: #fff;
}

footer.fixed .box.line {
  background: linear-gradient(135deg, #9ec003, #058e42);
}

footer.fixed .box.calendar {
  background: linear-gradient(135deg, #fdd000, #f08400);
}

footer.fixed .box img {
  width: 11vw;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-bottom: 100px;
  }

  footer.fixed {
    display: flex;
  }
}