.footer {
  padding: 60px 0 10px;
  background-color: #336d4c;
  text-align: center;
}

.footer .logo {
  display: block;
  width: 290px;
  margin: 0 auto;
}

.footer .social-media {
  margin-top: 30px;
}

.footer .social-media img {
  display: inline-block;
  width: 33px;
}

.footer .social-media a + a {
  margin-left: 12px;
}

.footer .text {
  margin-top: 30px;
  font-size: 12px;
  color: #fff;
}

.fixed {
  display: none;
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: #336d4c;
  color: #fff;
  font-size: 10px;
}

.fixed .girl {
  width: 64px;
}

.fixed .phone {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
}

.fixed .text {
  font-size: 8px;
}

.fixed .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
}

.fixed .box .text {
  margin-top: 8px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
}

.fixed .box.line {
  background: linear-gradient(135deg, #9ec003, #058e42);
}

.fixed .box.calendar {
  background: linear-gradient(135deg, #fdd000, #f08400);
}

.fixed .box img {
  width: 44px;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-bottom: 100px;
  }

  .fixed {
    display: flex;
  }
}