.marquee {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 60px;
  background-color: #8cc63f;
  color: #fff;
  font-size: 30px;
  overflow: hidden;
}

.marquee .js-marquee-wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #8cc63f;
  color: #fff;
  font-size: 30px;
  will-change: transform;
}

.marquee .content,
.marquee .js-marquee {
  flex-shrink: 0;
  z-index: 1;
  display: inline-flex;
  gap: 20px;
  align-items: center;
  width: auto;
  padding: 0 20px;
  margin: 0 !important;
  /* will-change: transform; */
  /* animation: marquee 14s linear infinite; */
  /* animation-fill-mode: forwards; */
}

@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.marquee .tag {
  flex-shrink: 0;
  height: 40px;
  padding: 0 10px;
  background-color: #fff;
  font-size: 22px;
  color: #8cc63f;
  line-height: 40px;
}

.marquee .location {
  flex-shrink: 0;
  font-size: 14px;
}

.marquee .location .location-img {
  width: 11px;
  height: 14px;
}

@media screen and (max-width: 800px) {
  .marquee,
  .marquee .js-marquee-wrapper {
    height: 13vw;
    font-size: 5vw;
  }

  .marquee .content {
    padding: 0 5vw;
  }

  .marquee .tag {
    height: 8vw;
    line-height: 8vw;
    font-size: 4.5vw;
  }

  .marquee .location {
    font-size: 3vw;
  }
}