.section1 {
  padding: 80px 0;
}

.section1 .card {
  position: relative;
  max-width: 780px;
  padding: 20px 12px 20px 230px;
  border-radius: 6px;
  margin: 0 auto;
  background: linear-gradient(135deg, #fdd000, #f08400);
  box-shadow: 0px 0px 10px 3px #d9d9d9;
  font-weight: bold;
}

.section1 .card .girl {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 252px;
}

.section1 .card .h1 {
  display: inline-block;
  color: #fff;
  font-size: 29px;
  line-height: 1;
  text-align: center;
}

.section1 .card .h1 .special {
  font-size: 44px;
  color: #fff100;
}

.section1 .card > .text {
  color: #fff;
  font-size: 29px;
  line-height: 1;
  text-align: center;
}

.section1 .card .text-bar {
  height: 49px;
  padding: 0 32px;
  border-radius: 30px;
  margin: 10px 0;
  background-color: #fff;
  color: #ffb800;
  font-style: italic;
  font-size: 30px;
  line-height: 49px;
  text-align: center;
}

.section1 .price {
  display: flex;
  align-items: end;
  color: #fff;
}

.section1 .price .title {
  font-size: 32px;
  text-align: center;
}

.section1 .price .text {
  font-size: 16px;
  text-align: center;
}

.section1 .price .price-value {
  margin-left: 4px;
  color: #fff100;
  font-size: 28px;
  line-height: 1;
}

.section1 .price .price-value .number {
  font-size: 100px;
}

.section1 .price .and {
  width: 23px;
  margin: 0 12px 30px 2px;
}

@media screen and (max-width: 800px) {
  .section1 {
    padding: 45px 0;
  }

  .section1 .card {
    max-width: 400px;
    padding: 14px 10px;
  }

  .section1 .card .girl {
    top: -10px;
    left: 12px;
    width: 55px;
  }

  .section1 .card .h1 {
    padding-left: 50px;
    font-size: 14px;
    text-align: left;
  }

  .section1 .card .h1 .special {
    font-size: 32px;
  }

  .section1 .card .text-bar {
    height: 35px;
    padding: 0 20px;
    margin: 6px 0;
    font-size: 20px;
    line-height: 35px;
  }

  .section1 .card > .text {
    font-size: 22px;
  }

  .section1 .price .title {
    font-size: 22px;
  }

  .section1 .price .text {
    font-size: 12px;
  }

  .section1 .price .price-value {
    font-size: 20px;
  }

  .section1 .price .price-value .number {
    font-size: 60px;
  }

  .section1 .price .and {
    width: 16px;
    margin: 0 8px 20px 2px;
  }
}