.section8 {
  padding: 90px 0 80px;
  background-color: #8cc63f;
  overflow: hidden;
}

.section8 .sub-title {
  font-size: 14px;
  color: #ffe400;
  text-align: center;
  font-weight: bold;
}

.section8 > .title {
  margin-top: 30px;
  color: #fff;
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

.section8 .divider {
  width: 100px;
  height: 3px;
  margin: 24px auto 0;
  background-color: #ffe400;
}

.section8 .swiper {
  display: flex;
  width: 1080px;
  margin: 46px auto 0;
}

.section8 .swiper .swiper-wrapper {
  gap: 30px;
}

.section8 .swiper .item {
  width: 340px;
  height: 720px;
  padding: 10px;
  background-color: #fff;
}

.section8 .swiper .item img {
  width: 100%;
}

.section8 .swiper .item .title {
  margin-top: 18px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.section8 .swiper .item .age {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 0;
  border: 1px solid #336d4c;
  border-radius: 30px;
  margin-top: 20px;
  color: #336d4c;
  font-size: 16px;
}

.section8 .swiper .item .age .border-item {
  height: 16px;
  padding-right: 14px;
  border-right: 1px solid #336d4c;
  line-height: 16px;
}

.section8 .swiper .item .introduction {
  margin-top: 20px;
  color: #336d4c;
  font-size: 18px;
  font-weight: bold;
}

.section8 .switch {
  display: none;
  position: absolute;
  top: 280px;
  width: 0;
  height: 0;
  border: 20px solid;
}

.section8 .switch.prev {
  left: 0;
  border-color: transparent #ffe400 transparent transparent;
}

.section8 .switch.next {
  right: 0;
  border-color: transparent transparent transparent #ffe400;
}

@media screen and (max-width: 800px) {
  .section8 > .title {
    width: 270px;
    margin: 30px auto 0;
    font-size: 24px;
  }

  .section8 .swiper {
    width: 80vw;
  }

  .section8 .swiper .swiper-wrapper {
    gap: 0;
  }

  .section8 .swiper .item {
    width: 300px;
    height: 600px;
    padding: 20px;
    font-size: 12px;
  }

  .section8 .swiper .item .title {
    font-size: 14px;
  }

  .section8 .swiper .item .age {
    gap: 10px;
    height: 20px;
    margin-top: 12px;
    font-size: 12px;
  }

  .section8 .swiper .item .age .border-item {
    height: 12px;
    padding-right: 10px;
    line-height: 12px;
  }

  .section8 .swiper .item .introduction {
    margin-top: 10px;
    font-size: 4vw;
    letter-spacing: -1px;
  }

  .section8 .switch {
    display: block;
    border-width: 5vw;
  }

  .section8 .switch.prev {
    left: -2vw;
  }
  
  .section8 .switch.next {
    right: -2vw;
  }
}