.section1 {
  padding: 80px 0;
}

.section1 .card {
  position: relative;
  max-width: 780px;
  padding: 20px 12px 20px 230px;
  border-radius: 6px;
  margin: 0 auto;
  background: linear-gradient(135deg, #fdd000, #f08400);
  box-shadow: 0px 0px 10px 3px #d9d9d9;
  font-weight: bold;
}

.section1 .card .girl {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 252px;
}

.section1 .card .h1 {
  display: inline-block;
  color: #fff;
  font-size: 29px;
  line-height: 1;
  text-align: center;
}

.section1 .card .h1 .special {
  font-size: 44px;
  color: #fff100;
}

.section1 .card > .text {
  color: #fff;
  font-size: 29px;
  line-height: 1;
  text-align: center;
}

.section1 .card .text-bar {
  height: 49px;
  padding: 0 32px;
  border-radius: 30px;
  margin: 10px 0;
  background-color: #fff;
  color: #ffb800;
  font-style: italic;
  font-size: 30px;
  line-height: 49px;
  text-align: center;
}

.section1 .price {
  display: flex;
  align-items: end;
  color: #fff;
}

.section1 .price .title {
  font-size: 32px;
  text-align: center;
}

.section1 .price .text {
  font-size: 16px;
  text-align: center;
}

.section1 .price .price-value {
  margin-left: 4px;
  color: #fff100;
  font-size: 28px;
  line-height: 1;
}

.section1 .price .price-value .number {
  font-size: 100px;
}

.section1 .price .and {
  width: 23px;
  margin: 0 12px 30px 2px;
}

@media screen and (max-width: 800px) {
  .section1 {
    padding: 11vw 4vw;
  }

  .section1 .card {
    max-width: 100%;
    padding: 4vw 2.5vw;
  }

  .section1 .card .girl {
    top: -4vw;
    left: 4vw;
    width: 14vw;
  }

  .section1 .card .h1 {
    padding-left: 13vw;
    font-size: 4vw;
    text-align: left;
    letter-spacing: -1px;
  }

  .section1 .card .h1 .special {
    font-size: 7.5vw;
  }

  .section1 .card .text-bar {
    height: 9vw;
    padding: 0;
    margin: 1.5vw 0;
    font-size: 5vw;
    line-height: 9vw;
  }

  .section1 .card > .text {
    font-size: 5.5vw;
  }

  .section1 .price .title {
    font-size: 5vw;
    letter-spacing: -1px;
  }

  .section1 .price .text {
    font-size: 3vw;
    letter-spacing: -1px;
  }

  .section1 .price .price-value {
    font-size: 4.5vw;
  }

  .section1 .price .price-value .number {
    font-size: 15vw;
  }

  .section1 .price .and {
    width: 4vw;
    margin: 0 1vw 5vw 1vw;
  }
}